{% extends 'base.html'%}

{% block content %}
<H1>Welcome Home</H1>
<h4>This is the default home page</h4>
<h5>Students table</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut, commodi ex exercitationem possimus tempore. Consequatur, hic iure molestias odit omnis reprehenderit similique! Cum error inventore magnam sapiente ullam! Optio.</p>

<table>
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Ruth</td>
        <td>18</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Mevis</td>
        <td>19</td>
        <td>female</td>
    </tr>
    <tr>
        <td>Bahati</td>
        <td>23</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Edwin</td>
        <td>17</td>
        <td>male</td>
    </tr>
</table>

{% endblock %}